body{
	background-color: rgb(151, 164, 178);
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#leftSide {
	display: flex;
	flex-wrap: wrap;
	float: left;
	justify-content: center;
	height: 500px;
	width: 500px;
}
#mainImage {
	float: left;
	height: auto;
}

#timer {
	background-color: yellowgreen;
	border: 5px solid blue;
	box-sizing: border-box;
	clear: left;
	color: blue;
	font-size: 48px;
	height: 105px;
	margin-top: 60px;
	padding-top: 20px;
	text-align: center;
	width: 300px;
}

#title {
	font-size: 58px;
	text-align: center;
	color: blue;
}


#displayBlock {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color:yellowgreen;
	border: 5px solid blue;
	box-sizing: border-box;
	text-align: center;
	height: 600px;
	margin-top: 50px;
	width: 850px;
}

#displayQuestion, #displayOptions {
	color: white;
	font-size: 36px;
	}

#result {
	color: blue;
	font-size: 24px;
	margin-top: 50px;
}

#finalScore {
	color: white;
	font-size: 48px;
}

.answer {
	background-color: #fff;
	border: 5px solid blue;
	color: blue;
	font-size: 18px;
	height: 100px;
	margin: 5px;
	width: 200px;
}

#startGame {
	background-color: #fff;
	border: 5px solid blue;
	color: blue;
	font-size: 18px;
	height: 100px;
	margin: 5px;
	width: 500px;
}